<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.werwoelfle">

    <application
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"

        android:allowBackup="true"
        android:fullBackupContent="true"

        tools:ignore="GoogleAppIndexingWarning">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".GroupSignUpActivity"/>
        <activity android:name=".RoleSelectionActivity"/>
        <activity android:name=".GivePhoneToPlayerActivity"/>
        <activity android:name=".PlayerRoleAllocationActivity"/>
        <activity android:name=".NightGoingToSleepActivity"/>
        <activity android:name=".NightCupidActivity"/>
        <activity android:name=".NightWerewolfActivity"/>
        <activity android:name=".NightWitchActivity"/>
        <activity android:name=".NightSeerActivity"/>
        <activity android:name=".NightSeerIsAVillager"/>
        <activity android:name=".NightSeerIsAWerewolf"/>
        <activity android:name=".DayPeopleWakingUpActivity"/>
        <activity android:name=".DayAccusingEachOtherActivity"/>
        <activity android:name=".ChooseExistingGroupsActivity"/>
        <activity android:name=".processAblaufButtonActivity"/>
        <activity android:name=".figuresActivity"/>
        <activity android:name=".GivePhoneToLeaderActivity"/>
        
        <service android:name=".GameState"
            android:enabled="true"
            android:exported="false"/>
    </application>

</manifest>